/*搜索*/
.mui-search .mui-input-clear[type=search]{width: 80%;background-color: #eee;line-height: 38px;margin-top:8px;height:38px;margin-bottom:5px;}
.mui-search .mui-placeholder{width: 8rem;padding-top: 5px;}
.mui-input-group .mui-input-row{font-size: 16px; padding-left: 8px;/*line-height: 40px;*/}
.mui-input-row .rbtn {float: right;margin-right: 3%;width: 12%;text-align: center;}
.mui-input-row.mui-search .mui-icon-clear {right: 16%;}
.mui-input-row.mui-search .mui-icon-clear {top: 15px;margin-right: 6px;}
.mui-search.mui-active:before{top:35px;}
.mui-table-view:before{height: 0px;}
.search-ul.mui-table-view-cell{padding-right: 0px;}
.a-cancle{font-size: 16px;height: 38px;line-height: 51px;color: #66B96A;}
.ul-history .mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after,
.ul-history .mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after,
.ul-history .mui-table-view-cell.mui-collapse>.mui-navigate-right:after, 
.ul-history .mui-table-view-cell.mui-collapse>.mui-push-right:after{right: 35px;}
.ul-history .mui-table-view-cell.mui-collapse.mui-active{padding: 0px;margin-top: 0px;}
.ul-history .mui-table-view-cell>a:not(.mui-btn){padding: 0px 15px;height: 40px;line-height: 40px;margin: 0px;font-size: 14px;}
.ul-history .mui-input-group .mui-input-row{padding-left: 25px;}
.mui-table-view-cell.mui-collapse .mui-collapse-content.no-margin{margin-top: 0px;margin-bottom: 0px;line-height:40px;}
.ul-common .mui-table-view-cell{font-size: 14px;height: 40px;line-height: 40px;padding-top: 0px;}
.ul-common .mui-table-view-cell.head{font-size: 12px;background-color: #F5F5F5;height: 28px;line-height: 28px;padding-top: 0px;}
.fr{float: right;}
.spn-clear{position: absolute; right: -20px;top: 0px;width: 35px;height: 40px;}
.mui-icon.i-clear{ margin-top: 8px;}
/*readonly*/
.mui-search.readonly{margin: 0px 10px; text-align: center;background-color: #FFFFFF;border-radius: 3px;height: 40px;
border: solid #eee 1px;}
.mui-search.readonly .mui-placeholder{width: 100%;}
.a-search{width: 100%;font-size: 14px;color: #999;display: block;height: 40px;line-height: 40px;}
.a-search i{height: 40px;line-height: 40px; position: absolute;left: 10px;}
.a-search span{position: absolute;left:35px;}
.icon-shibai{margin-right: 2px;}
/*end 搜索*/
.mui-input-row label,::-webkit-input-placeholder{font-size:16px;}
.mui-table-view:after {height: 0px;background-color: #FFFFFF;}			
/*.mui-table-view-cell:after {height: 0px;background-color: #FFFFFF;border-bottom: 1px dashed #eee;}*/
.feedback body{height: 100%;background-color: white;}
.mui-table-view-cell.mui-collapse{border:solid #eee 1px;}
.mui-table-view-cell.mui-collapse.mui-active{background-color:#eee;}
.mui-search .mui-placeholder .mui-icon{margin-top:12px;}
/*.mui-scroll-wrapper{height:100% !important;height:100%;position: absolute;bottom: 0px;-webkit-height:100%;}*/
.ul-common.mui-table-view li{padding:0px 15px;}
.mui-off-canvas-wrap .mui-inner-wrap{height:0px !important;width:0px;visibility:hidden;}
.mui-off-canvas-left, .mui-off-canvas-right{background-color:white;}
/*#pullrefresh{height:100%;}*/
.empty-container{position:relative;}
.ul-common .mui-table-view-cell:after{left:0px;}